body {
  background-image: url("../images/bg.jpg");
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.section-game {
  background-image: linear-gradient(
    rgba(216, 244, 252, 0.85),
    rgba(216, 244, 252, 0.85)
  );
  width: 520px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
}
.blok-input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 48px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.text {
  font-size: 32px;
}
.usernum {
  font-size: 28px;
  padding-left: 10px;
  width: 100px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.btn-radio {
  width: 20px;
  cursor: pointer;
}

.btn-num {
  font-size: 22px;
  background-color: #7fffd4;
  padding: 5px 10px;
  margin-bottom: 15px;

  border-radius: 5px;
  cursor: pointer;
}
.info {
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.blok-hard {
  border: 1px solid brown;
}
.statistic-text {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.statistic-btn {
  font-size: 18px;
  background-color: aquamarine;
  padding: 5px 10px;
  margin-bottom: 15px;

  border-radius: 5px;
  cursor: pointer;
}
.statistic-blok {
  margin-bottom: 15px;
}

label {
  cursor: pointer;
}
